<nav class="navbar glass">

    <div class="container">

        <div class="logo">
            <img src="/Analytics-Club/assets/logo.png" class="logo-icon" alt="Analytics Club Logo">
            <span class="logo-text">Analytics<span>Club</span></span>
        </div>
        <ul class="nav-links">

            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team Analytics</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="developers.html">Developers</a></li>

            <li>
                <a href="register.html" class="btn-primary-sm">
                    Register For Event
                </a>
            </li>

        </ul>

        <div class="menu-toggle">
            ☰
        </div>

    </div>

</nav>